@import 'base';

.container {
  margin-bottom: 20px; 
}
.header {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
  .title {
    color: white;
    font-size: 15px;
    &.closed {
      color: $darkGray;
    }
  }
  .icon{
    color: white;
  }
}
.products {
  display: flex;
  width: 100%;
  flex-direction: column;
  .product:not(:nth-last-child(1)) {
    border-bottom: 1px $lightGray solid;
  }
}
.product{
  padding: 2px 0px;
  display: flex;
  flex-direction: row;
}

.product > div {
  padding:5px;
}

.productName {
  width: 90%;
}

.productCount {
  width: 10%;
  text-align: right;
}

.orderCard {
  background-color: $darkestGreen!important;
  &.closed {
    border: .5px $darkGray solid;
    color: $darkGray;
  }
}
