@import 'base';

.container {
  padding: 0 10px;
  width: 100%;
}
.root {
  background-color: $background;
  border: 0.5px $lightGreen solid;
  border-top: none;
  color: $white;
}
.tab {
  background-color: $softGreen !important;
}