@import 'base';

.container {
  @extend .flex-column;
  font-size: 13px;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  margin: .5rem;
  padding: 1.3rem;
  width: 100%;
  color: $white;
  background-color: $darkGreen !important;
  border: 0.5px $lightGreen solid;
  &:hover {
    background-color: $hoverGreen !important;
    color: $darkGreen;
    border: 0.5px $white solid;
  }
}