@import 'base';

.container {
  @extend .flex-column;
  font-size: 13px;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  padding: 1.3rem;
  color: $white;
  border: 0.5px $lightGreen solid;
  border-radius: 12px !important;
  &:hover {
    background-color: $hoverGreen !important;
    color: $darkGreen;
    border: 0.5px $white solid;
  }
}