@import 'base';

.products {
  display: flex;
  width: 100%;
  flex-direction: column;
  .product:not(:nth-last-child(1)) {
    border-bottom: 1px $lightGray solid;
  }
}
.product{
  padding: 2px 0px;
  display: flex;
  flex-direction: row;
}

.product > div {
  padding:5px;
}

.productName {
  width: 90%;
}

.productCount {
  width: 10%;
  text-align: right;
}

.billCard {
  background-color: #071317!important
}
