@import 'base';

.billCard {
  background-color: $darkestGreen!important;
  margin-bottom: 20px;
  padding: 0px 15px;
  height: 70px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  flex-direction: row !important;
  &.closed {
    border: .5px $darkGray solid;
    color: $darkGray;
  }
}

.header {
  display: flex;
  flex-direction: row-reverse;
  .icon{
    color: white;
  }
  .closeIcon {
    color: gray;
  }
}
.total{
  margin-left: 10px;
  font-size: 23px;
  display: flex;
}
