@import 'base';

.container {
  @extend .flex-column-center;
}

.zoneTitle {
  color: $gradientWhite;
  margin: 0px 0px 7px 10px;
}

.tablesContainer {
  @extend .flex-column;
  width: 100%;
  border: 1px $gradientGreen solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 30px;
}

.tables {
  @extend .flex-row-center;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  flex-wrap: wrap;
}

.tableCard {
  height: 140px;
  width: 140px;
  padding: 5px;
  text-align: center;
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 23px !important;
  margin-top: 20px;
  margin-right: 10px;
  background-color: $darkGreen !important;
}