@import 'base';

.container {
  @extend .flex-column-center;
  color: $softGreen;
  padding-top: 4rem;
}
.image {
  opacity: 0.1;
  width: 600px;
  position: absolute;
  left: 65px;
  bottom: -60px;
}
